html, body {
  height: 100%;
}

body {
  background: rgb(238,238,238);
  overflow: hidden;  
}

*, *:before, *:after {
  box-sizing: border-box;
}

.order {
  visibility: hidden;
}

.container {
  position: absolute;  
  top: 50%;
  left: 80%;  
  width: 320px;
  height: 95%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
	overflow-y: scroll;
}

.list-item {  
  position: absolute;
  top: 0;
  left: 0;  
  height: 90px;
  width: 100%;  
}

.item-content {
  height: 100%;
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 90px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
}

.circle {
  box-sizing: content-box;
  border: 5px solid #a0d0ff;
  position: relative;
  top: 5%;
  left: 10%;
  height: 400px;
  width: 400px;
  background-color: #888;
  border-radius: 50%;
}
